header {
    @media screen and (min-width:780px) {
        nav i {
            visibility: hidden;
        }

    }

    nav ul {
        margin: 0;
        padding: 1% 40%;
        list-style: none;
        display: flex;
        font-size: 1rem;
        text-align: right;
        line-height: 1.45;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
    }

    nav li:hover {
        color: $deepOrange;
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-basis: auto;
    }

    h1 {
        font-size: 7.32rem;
        line-height: 6rem;
        color: $deepOrange;
    }

    .icons {
        margin: 3%;
        list-style: none;
        display: flex;
        flex-direction: column;
        color: $deepOrange;
        font-size: 2rem;
        line-height: 2.49rem;
        text-align: center;
    }
}