main {

    //*GRID TEMPLATING
    @media screen and (min-width:780px) {
        .menu .wrapper {
            display: grid;
            grid-template-areas:
                "newFood burgerImg"
                "breakfast fullExperience"
                "desserts desserts";
        }
    }

    .newFood {
        grid-area: newFood;
    }

    .burgerImg {
        grid-area: burgerImg;
    }

    .breakfast {
        grid-area: breakfast;
    }

    .fullExperience {
        grid-area: fullExperience;
    }

    .desserts {
        grid-area: desserts;
        background-color: $greyBackground;
        display: flex;
        padding: 5vw;

        .textWrapper {
            margin-left: 3vw;
        }

        button {
            background-color: $greyBackground;
        }

        button:hover {
            background-color: $deepOrange;
            color: $white;
        }
    }

    // *TEXT AREAS
    h2 {
        font-weight: bold;
        font-size: 2.1rem;
        // text-align: center;
        color: $deepOrange;
    }

    .newFood,
    .fullExperience {
        padding: 10vw 7vw;
    }

    // *IMAGES

    .menu img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }


}