main {

    //*GRID TEMPLATING
    .menu .wrapper {
        display: grid;
        grid-template-areas:
            "newFood burgerImg"
            "breakfast fullExperience"
            "desserts desserts";
    }

    .newFood {
        grid-area: newFood;
    }

    .burgerImg {
        grid-area: burgerImg;
    }

    .breakfast {
        grid-area: breakfast;
    }

    .fullExperience {
        grid-area: fullExperience;
    }

    .desserts {
        grid-area: desserts;
        background-color: $greyBackground;
    }

    // *TEXT AREAS
    h2 {
        font-weight: bold;
        font-size: 42px;
        // text-align: center;
        color: $deepOrange;
    }

    .newFood,
    .fullExperience {
        padding: 20% 15%;
    }

    // *IMAGES

    .menu img {
        object-fit: cover;
    }

    menu .wrapper div {
        display: flex;
        justify-content: center;
    }

}