main {

    //*GRID TEMPLATING
    .menu .wrapper {
        display: grid;
        grid-template-areas:
            "newFood burgerImg"
            "breakfast fullExperience"
            "desserts desserts";
    }

    .newFood {
        grid-area: newFood;
    }

    .burgerImg {
        grid-area: burgerImg;
    }

    .breakfast {
        grid-area: breakfast;
    }

    .fullExperience {
        grid-area: fullExperience;
    }

    .desserts {
        grid-area: desserts;
        background-color: $greyBackground;
        display: flex;
        padding: 5%;

        .textWrapper {
            margin-left: 40px;
        }

        button {
            background-color: $greyBackground;
        }
    }

    // *TEXT AREAS
    h2 {
        font-weight: bold;
        font-size: 42px;
        // text-align: center;
        color: $deepOrange;
    }

    .newFood,
    .fullExperience {
        padding: 10% 15%;
    }

    // *IMAGES

    .menu img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }


}