@media (max-width: 779px) {
    header {
        nav ul {
            visibility: hidden;
        }

        nav i {
            visibility: unset;
            font-size: 3rem;
            position: absolute;
            top: 2vw;
            right: 4vw;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
        }

        h1 {
            order: 1;
            text-align: right;
            margin: 6vw 5vw 0 0;
        }

        img {
            order: 2;
            position: relative;
            left: -200px;
        }

        .icons {
            position: absolute;
            left: -999px;
            visibility: hidden;
            display: none;
        }
    }

    // *GRID TEMPLATING
    .menu .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "burgerImg"
            "newFood"
            "breakfast"
            "fullExperience"
            "desserts";
    }

    .newFood,
    .burgerImg,
    .breakfast,
    .fullExperience,
    .desserts {}

    .newFood {
        grid-area: newFood;
    }

    .burgerImg {
        grid-area: burgerImg;
    }

    .breakfast {
        grid-area: breakfast;
    }

    .fullExperience {
        grid-area: fullExperience;
    }

    .desserts {
        grid-area: desserts;
    }

}