@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mobile";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/main";

html {
    font-family: "Montserrat";
    background-color: $white;
    color: $darkerGrey;
    font-size: 20px;
}





h3 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: $white
}

button {
    font-weight: bold;
    font-style: 1rem;
    text-align: center;
    line-height: 1.45rem;
    border: 4px solid $deepOrange;
    background-color: $white;
    color: $darkerGrey;
    text-decoration: none;
    padding: 10px;
}

button:hover {
    background-color: $deepOrange;
    color: $white;
}

p {
    font-family: "Catamaran";
    font-style: 1rem;
    line-height: 1.45rem;
}

