html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 779px) {
  header nav ul {
    visibility: hidden;
  }
  header nav i {
    visibility: unset;
    font-size: 3rem;
    position: absolute;
    top: 2vw;
    right: 4vw;
  }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
    margin: 6vw 5vw 0 0;
  }
  header img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    left: -200px;
  }
  header .icons {
    position: absolute;
    left: -999px;
    visibility: hidden;
    display: none;
  }

  p {
    font-size: 1.6rem;
  }

  .menu .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "burgerImg" "newFood" "breakfast" "fullExperience" "desserts";
  }

  .newFood,
.burgerImg,
.breakfast,
.fullExperience,
.desserts {
    text-align: center;
  }

  .newFood {
    grid-area: newFood;
  }

  .burgerImg {
    grid-area: burgerImg;
  }

  .breakfast {
    grid-area: breakfast;
  }

  .fullExperience {
    grid-area: fullExperience;
  }

  .desserts {
    grid-area: desserts;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  img {
    max-height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 780px) {
  header nav i {
    visibility: hidden;
  }
}
header nav ul {
  margin: 0;
  padding: 1% 40%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  text-align: right;
  line-height: 1.45;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
}
header nav li:hover {
  color: #E75605;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
header h1 {
  font-size: 7.32rem;
  line-height: 6rem;
  color: #E75605;
}
header .icons {
  margin: 3%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #E75605;
  font-size: 2rem;
  line-height: 2.49rem;
  text-align: center;
}

@media screen and (min-width: 780px) {
  main .menu .wrapper {
    display: grid;
    grid-template-areas: "newFood burgerImg" "breakfast fullExperience" "desserts desserts";
  }
}
main .newFood {
  grid-area: newFood;
}
main .burgerImg {
  grid-area: burgerImg;
}
main .breakfast {
  grid-area: breakfast;
}
main .fullExperience {
  grid-area: fullExperience;
}
main .desserts {
  grid-area: desserts;
  background-color: rgba(31, 32, 34, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw;
}
main .desserts .wrapper {
  min-width: 25vw;
}
main .desserts button {
  background-color: rgba(31, 32, 34, 0.07);
}
main .desserts button:hover {
  background-color: #E75605;
  color: #FFF;
}
main h2 {
  font-weight: bold;
  font-size: 2.1rem;
  color: #E75605;
}
main .newFood,
main .fullExperience {
  padding: 10vw 7vw;
}
main .menu img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

html {
  font-family: "Montserrat";
  background-color: #FFF;
  color: #1F2022;
  font-size: 20px;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #FFF;
}

button {
  font-weight: bold;
  font-style: 1rem;
  text-align: center;
  line-height: 1.45;
  border: 4px solid #E75605;
  background-color: #FFF;
  color: #1F2022;
  text-decoration: none;
  padding: 10px;
}

button:hover {
  background-color: #E75605;
  color: #FFF;
}

p {
  font-family: "Catamaran";
  font-style: 1rem;
  line-height: 1.45;
}